*
{
    margin: 0;
    padding: 0;
}

#dv
{
    height: 60px;
    width: 70px;
    border: 1px sold black;
    border-radius: 50%;
    background-color: rgb(243, 200, 207);
    position: absolute;
    right:0px;
    padding-right: 30px;
    padding-top: 25px;
    text-align: center;
    padding-left:30px;
    margin-right: 30px;
    margin-top: 30px;
}

#CountDown
{
    color: rgb(231, 51, 51);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    padding-right: 30px;
    padding-top: 30px;
}

#CountDown:hover
{
    color:green
}